.info{
	font-family: 'Josefin Sans', sans-serif;
    color: #2B3F45;
    font-size: 150%;
    position: absolute; 
    top: 40%;
    left: 41%;
    }
    
.initials_small {
	width:225px;
	height:250px;
    size: 150%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
.main_panels {
	position: absolute;
	left: 41%
}